body {
    background-color:#011226 ;
    font-family: 'Open Sans', sans-serif;
}
.sign,.welcome,header{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);

    background:#011230;
}
.welcome{
margin-top: 250px;
}
h1 {
    color: #0dcaf0;
}
button:hover {
    color: white !important;
}
a:hover {
    text-decoration: underline !important;
}
.form-control {
    background-color: transparent;
}
.form-control:focus{
    border-color: rgb(128, 189, 255);
    box-shadow: 0 0 0 transparent !important;
    background-color: transparent;
} 
::placeholder{
    color: rgb(182, 182, 182)!important;
}
